.wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "filters search"
    "filters todos";

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "search"
      "filters"
      "todos";
  }
}

.filters {
  grid-area: filters;
}

.search {
  grid-area: search;
}

.todos {
  grid-area: todos;
}
